.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.text-left {
  text-align: left
}

.text-justify {
  text-align: justify
}

.text-upper {
  text-transform: uppercase
}
.text-lower {
  text-transform: lowercase
}

.text-bold {
  font-weight: bold
}

.text-italic {
  font-style: italic
}

.text-normal {
  font-style: normal;
  font-weight: normal;
}
