// Grid
$row-width: 1260px;
$col-gutter: 25px;

$sm-min: 767px;
$sm-max: 1023px;
$md-min: 1024px;
$md-max: 1250px;
// $lg-min:  1200px;
// $lg-max:  1400px;

// Fonts
$font-main: "Roboto", sans-serif;
$base-font: 16px;
$base-line: 20px;

// Colors
$color-main: #1e1e1e; //Branco
$color-white: #ffffff; //Branco
$color-black: #000000; //Preto
$color-grey: #efefef; //Cinza
$color-grey-light: #f7f7f7; //Cinza
$color-red: #c70000; //Cinza

$color-primary: #172f5f; //Azul

$color-secundary: #000; //Azul Médio
